
.flex{
    display: flex;
}
#nodemap{
    height: 434px;
    width: 50%;
    border: none;
}
#nodelist{
    height: 434px;
    width: 50%;
    border: none;
    float: right;
    font-size: 1.2em;
}
#nodelist tr{
    padding:10px 10px 0px 10px;
    border-bottom: #efefef 1px solid;
    background-color: white;
}
#nodelist tr:first-child{
    background-color: #337ab7;
    color: white;
}
#nodelist tr:last-child{
    border: none;
}
#nodelist td{
    padding: 5px;
}

p a{
    font-weight: bold;
}
