.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: center;
  width:100%;
 /* width:1368px;*/
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
	display: flex;
	
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.container {
  	width:100%;
}

.ng-scope {
   width:100%;
}

.menu {
  width:150px;	
  height:200px;
  margin-top: 80px;
  
}

#menu-view-container
{
    width:1113px;
    display: flex;
    margin-left: 80px;
}

.nav-pills> li > a {
    color:white;
    font-size:15px;
    
    }
.nav-pills {
    margin-right:20px;
    }
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a:active,
.nav-pills > li > a:visited{
	background: #337ab7;
}
#helpid > a:hover,
#helpid > a:focus,
#helpid > a:active,
#helpid > a:visited{
	background: #337ab7;
}

#productsid{
	border:1px white solid;
	border-radius: 5px;
}

#bandeau
{
    display: flex;
    flex-wrap: nowrap;
    background: #337ab7;
    width:100%;
    justify-content: space-between;
    align-items: center;
    height:60px;
}


@media (max-width: 768px) {
   .nav-pills> li > a {
    font-size:10px;
    }
   .nav-pills {
      margin-right:0px;
    }
    .footer {
      height: 225px;
    }
    #bandeau{
	height:75px;
    }
    #titlelogo {
      width: 80%;
      height: auto;
    }
   
}