
#latlon { height: 434px; min-width:250px;background-color:#AECADA;border:1px black solid;border-right:0;}
#mapid { height: 434px; width:100%; border:1px black solid; }
.advancedcontainer{height: 434px; width:auto;border:1px black solid;border-left:0;}


#fieldconteneur
{
    display: flex;
    justify-content: space-between;
    padding-bottom:2px;
}
#mapconteneur
{
    display: flex;
    flex-wrap: nowrap;
}

#fieldconteneur{
  width: 360px;
}


#buttonconteneur
{
    display: flex;
    justify-content: flex-end;
}

#dropdownconteneur
{
    display: flex;
    justify-content: flex-end;
}
.flex-item:first-child {
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

#latlonconteneur{
   display: flex;
   justify-content: space-around;
}	

.header-filtered {
  color: blue;
}

.spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}


.form-control {
    height: 10px;
    padding: 11px;
}

.input-group .btn {
    padding: 1px 2px;
}

.panel-body {
            background-color: #E0E6F8;
            height: 310px;
	    overflow-y:auto;
	    overflow-x: auto;
}

.my-custom-control {    
	padding-right: 35px;
}

.my-custom-control .dropdown-menu {
	overflow-y:auto;
	overflow-x: hidden;
}

.circle, #linkid
{
    display:inline;
}

/****handle a display of ui grid**********/


.white {
  color:transparent !important;
  
}

.red {
  /*background-color: #FF6F7D !important;*/
  
}

.grid {
     height: 600px;border:1px black solid;width:100%;
}
  
.colorheader{
	text-align: center;
}

.ui-grid-top-panel {
    background: #337ab7;/*#286090;*/
    color: white;
}
.ui-grid-filter-input{ 
    color: black;
}
.ui-grid-menu {
  width: 250px;
  height: 200px;
}
.ui-grid-menu-button {
  width: 20px;
  height: 25px;
}

.ui-grid-header-cell{
	width: auto;
}

.ui-grid-pager-container{
	width: 550px;
}

.ui-grid-pager-row-count-picker{
	width: 200px;
}

.ui-grid-pager-panel{
	background-color: white;
}

.ui-grid-viewport{
	background-color: white;
	color: black;
}

/****handle a display of circler**********/
.circle {
  display:inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/****handle a display of datepicker**********/
.uib-datepicker-popup.dropdown-menu{
  width:175px;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}
.datepicker.dropdown-menu button, .timepicker.dropdown-menu button {
  outline: 0;
  border: 0;
}
/****handle a display of modal**********/
.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}
/****color of radius slider*******/
.ui-slider-horizontal .ui-slider-handle {
    background: #FFD700;
}
/****color when mouse over the grid*******/
.ui-grid-row:hover .ui-grid-cell{
    background:#FCFC33;
}

/****color when select rows in the grid*******/
.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell {
  color: #fff;
  background-color: #80D0D0;/*#2CDBF6;*/
} 

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell.ui-grid-cell-focus,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell.ui-grid-cell-focus {
  outline: 0;
  background-color: #80D0D0;/*#2CDBF6;*/
} 

.ui-grid-row-selected.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  color: #fff;
  background-color: #80D0D0;/*#2CDBF6;*/
} 
/****color of the link 4 Char Id *******/
#gridlink{
	color: #0088cc;
}
/****enable a pointer when passing over the link*******/
a:hover {
 cursor:pointer;
}

#popupcontainer
{
    display: flex;
    justify-content: space-between;
}

.leaflet-div-icon .leaflet-editing-icon .my-own-class{
	background-color: #FF6F7D;
}

.figure-control {
    display: flex;
    flex-direction: column;
}


.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
 background-color:white;
   border-bottom: solid 1px #d4d4d4; 
  }


.ui-grid-selection-row-header-buttons {
 cursor: pointer;
  opacity: 1;

}

.ui-grid-column-resizer{
    max-width: 5px;
}

.ui-grid-grid-footer {
 background-color:white;
 border-top: solid 1px;   
  }


#networkmapid{height: 700px;border:1px black solid;}

@media (max-width: 768px) {
  .btn{
    font-size:11px;
    padding:4px 6px;
  }
  #latlon{ height: 425px; width:100%;background-color:#AECADA;border:1px black solid;}
  .advancedcontainer{height: 425px; width:100%;border:1px black solid;margin-top: 20px;}
  #mapid{ margin-top: 20px; }
  #mapconteneur{
	    display: flex;
	    flex-wrap: wrap;
	}
  #networkmapid{height: 200px;border:1px black solid;margin-bottom: 20px;}
  .modal .modal-dialog {
    width: 300px;
  }
  #main_grid {
     height: 300px;
  }
  
}

.gridfile {
     height: 700px;border:1px black solid;width:100%;
}