<!-- VIEWS FOR BOTH SINGLE AND MULTIPLE STATIONS METADATA-->
<div ng-if="metadataviewchoice==='blank'"></div>
<!-- SINGLE STATION-->
<div ng-if="metadataviewchoice==='onestation'" class="row content">
	<div id="dropdownconteneur2">
		<div>
			<button type="button" class="btn btn-primary" ng-click="addhistory()"
				title="This button allows to keep in cache history of yours requests"><span
					class="glyphicon glyphicon-plus" aria-hidden="true" id="addhistory"></span> Add to history </button>
		</div>&nbsp;
		<div class="dropdown">
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" id="download"
				title="This button allows to download the content of data in different format">
				<span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download <span
					class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a ng-click="downloadgeodesymlfile()">GeodesyML</a></li>
				<li><a ng-click="download('stations-metadata.json','Json')">Json</a></li>
				<li><a ng-click="downloadSitelogFile()">IGS Site Log</a></li>
				<!--li><a href="#">GeodesyML + files</a></li-->
				<!--li><a href="#">Json + files</a></li>
			 	<li role="separator" class="divider"></li>
			 	<li><a href="#">File list</a></li>
			 	<li><a href="#">SINEX sites.info</a></li>
				<li><a href="#">GAMIT station.info</a></li-->
				<!--li><a ng-click="download('stations-metadata.csv','CSV')">CSV</a></li>
			 	<li><a ng-click="download('stations-metadata.xml','XML')">XML</a></li-->
				<!--li><a href="#">KML file</a></li-->
			</ul>
		</div>&nbsp;
		<div class="dropdown" style="margin-right:10px;">
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" id="exportquery" title="This button allows to get the query for command line">
				<span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export query <span
					class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<!--li><a ng-click="exportquery('GeodesyML')">GeodesyML</a></li>
			 <li><a ng-click="exportquery('GeodesyML + files')">GeodesyML + files</a></li-->
				<li><a ng-click="exportquery('Json')">Json</a></li>
				<!--li><a ng-click="exportquery('Json + files')">Json + files</a></li>
			 <li role="separator" class="divider"></li>
			 <li><a ng-click="exportquery('File list')">File list</a></li>
		         <li><a ng-click="exportquery('SINEX')">SINEX sites.info</a></li>
		         <li><a ng-click="exportquery('GAMIT')">GAMIT station.info</a></li-->
				<!--li><a ng-click="exportquery('CSV')">Site Info CSV</a></li-->
				<!--li><a ng-click="exportquery('KML')">KML file</a></li-->
			</ul>
		</div>
	</div><br style="line-height:0px;">
	<div class="col-sm-3">
		<div id="navmenu">
			<ul>
				<li><a ng-click="navitem = 'infoitem'"><span class="glyphicon glyphicon-info-sign" aria-hidden="true">
							Station / Monument</span></a></li>
				<li><a ng-click="navitem = 'equipitem'"><span class="glyphicon glyphicon-list-alt" aria-hidden="true">
							Instrumentation</span></a></li>
				<li><a ng-click="navitem = 'colocationitem'"><span class="glyphicon glyphicon-share" aria-hidden="true">
							Collocation / Conditions</span></a></li>
				<li><a ng-click="navitem = 'assofileitem'"><span class="glyphicon glyphicon-duplicate"
							aria-hidden="true"> Associated files</span></a></li>
				<!--<li><a ng-click="navitem = 'contactitem'"><span class="glyphicon glyphicon-envelope" aria-hidden="true">
							Contacts</span></a></li> -->
				<li><a ng-click="navitem = 'temporal'"><span class="glyphicon glyphicon-calendar" aria-hidden="true">
							Data availability</span></a></li>
				<li><a ng-click="navitem = 'qualitycheck'"><span class="glyphicon glyphicon-stats" aria-hidden="true">
							Quality check</span></a></li>
				<li><a ng-click="navitem = 'doi'"><span class="glyphicon glyphicon-briefcase" aria-hidden="true">
							DOI & Licenses</span></a></li>
			</ul>
		</div>

		<div ng-if="stationPictures.length!=0" class="panel panel-primary">
			<div class="panel-heading">
				<h4 style="text-align:center;" class="panel-title">Station Pictures</h4>
			</div>
			<div class="panel-body2">
				<div uib-carousel active="active" no-wrap="noWrapSlides">
					<div uib-slide ng-repeat="slide in stationPictures track by slide.index" index="slide.index">
						<a href="{{slide.link}}" data-lightbox="roadtrip">
							<img ng-src="{{slide.link}}" style="margin:auto; max-height: 330px;">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="slides.length!=0" class="panel panel-primary">
			<div class="panel-heading">
				<h4 style="text-align:center;" class="panel-title">Pictures</h4>
			</div>
			<div class="panel-body2">
				<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
					<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
						<a href="{{slide.image}}" data-lightbox="roadtrip">
							<img ng-src="{{slide.image}}" style="margin:auto;">
						</a>
						<div class="carousel-caption">
							<p align="left">{{slide.text}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<div style="display: flex;">
			<div ng-repeat="item in results"
				style="height: 300px; width:300px;border:1px black solid;border-right:0;background-color:white;">
				<br style="line-height:2px;">
				<p><b><span style="color:red;font-size: 200%;">{{item.marker_long_name}}</span></b></p>
				<p>{{item.name}}</p>
				<br></br>
				<p><span class="name"><b>Latitude : </b></span>{{item.location.coordinates.lat | number : 3 }}</p>
				<p><span class="name"><b>Longitude : </b></span>{{item.location.coordinates.lon | number : 3 }}</p>
				<p><span class="name"><b>Altitude : </b></span>{{item.location.coordinates.altitude | number : 3 }}</p>
				<br></br>
				<p><span class="name"><b>Type: </b></span>{{item.station_type.type}} - {{status}}</p>
			</div>
			<div id="metamapid" style="height: 300px; width:100%;border:1px black solid;"></div>
		</div><br style="line-height:0px;">

		<div class="metatitle" ng-if="navitem === 'infoitem'"><b><span>Station/Monument</span></b></div>
		<div class="metatitle" ng-if="navitem === 'equipitem'"><b><span>Equipments</span></b></div>
		<div class="metatitle" ng-if="navitem === 'colocationitem'"><b><span>Collocation</span></b></div>
		<div class="metatitle" ng-if="navitem === 'assofileitem'"><b><span>Associated files</span></b></div>
		<div class="metatitle" ng-if="navitem === 'contactitem'"><b><span>Contacts</span></b></div>
		<div class="metatitle" ng-if="navitem === 'temporal'"><b><span>Data availability</span></b></div>
		<div class="metatitle" ng-if="navitem === 'qualitycheck'"><b><span>Quality check</span></b></div>
		<div class="metatitle" ng-if="navitem === 'doi'"><b><span>DOI & Licenses</span></b></div>
		<br style="line-height:0px;">

		<div class="placeholder">
			<div ng-if="navitem === 'infoitem'">
				<br style="line-height:0px;">
				<div ng-repeat="item in results" style="display: flex;">
					<div class="divborder0">
						<div class="titreprincipale2"><span><b>Station identification</b></span></div><br
							style="line-height:0px;">
						<p><span class="name"><b>Marker : </b></span>{{item.marker_long_name}}</p>
						<p><span class="name"><b>Site Name : </b></span>{{item.name}}</p>
						<p><span class="name"><b>Installation Date : </b></span>{{item.date_from}}</p>
						<p><span class="name"><b>End Date : </b></span>{{currentdate==item.date_to ? '':item.date_to}}
						</p>
						<p><span class="name"><b>Receiver Number: </b></span>{{item.receiver_num}}</p>
						<p><span class="name"><b>Monument Number: </b></span>{{item.monument_num}}</p>
						<p><span class="name"><b>Network : </b></span><span
								ng-repeat="net in item.station_networks">{{net.network.name}} </span></p>
						<p><span class="name"><b>Agency : </b></span>{{item.station_contacts[0].contact.agency.name}}
						</p>
						<p><span class="name"><b>City : </b></span>{{item.location.city.name}}</p>
						<p><span class="name"><b>State : </b></span>{{item.location.city.state.name}}</p>
						<p><span class="name"><b>Country : </b></span>{{item.location.city.state.country.name}}</p>
						<p><span class="name"><b>Latitude : </b></span>{{item.location.coordinates.lat | number : 3 }}
						</p>
						<p><span class="name"><b>Longitude : </b></span>{{item.location.coordinates.lon | number : 3 }}
						</p>
						<p><span class="name"><b>Altitude :
								</b></span>{{item.location.coordinates.altitude | number : 3 }}</p>
						<p><span class="name"><b>X : </b></span>{{item.location.coordinates.x}}</p>
						<p><span class="name"><b>Y : </b></span>{{item.location.coordinates.y}}</p>
						<p><span class="name"><b>Z : </b></span>{{item.location.coordinates.z}}</p>
						<p><span class="name"><b>Iers Domes: </b></span>{{item.iers_domes}}</p>
						<p><span class="name"><b>CDP Number: </b></span>{{item.cdp_num}}</p>
						<p><span class="name"><b>Station type: </b></span>{{item.station_type.type}}</p>
					</div>
					<div class="divborder0">
						<div class="titreprincipale2"><span><b>Monument and geological information</b></span></div><br
							style="line-height:0px;">
						<p><span class="name"><b>Marker description: </b></span>{{item.description}}</p>
						<p><span class="name"><b>Monument Foundation: </b></span>{{item.monument.foundation}}</p>
						<p><span class="name"><b>Monument Description: </b></span>{{item.monument.description}}</p>
						<p><span class="name"><b>Monument Inscription: </b></span>{{item.monument.inscription}}</p>
						<p><span class="name"><b>Monument Height: </b></span>{{item.monument.height}}</p>
						<p><span class="name"><b>Monument Foundation depth:
								</b></span>{{item.monument.foundation_depth}}</p>
						<p><span class="name"><b>Geological Characteristic:
								</b></span>{{item.geological.characteristic}}</p>
						<p><span class="name"><b>Bedrock condition: </b></span>{{item.geological.bedrock.condition}}</p>
						<p><span class="name"><b>Berock type: </b></span>{{item.geological.bedrock.type}}</p>
						<p><span class="name"><b>Fracture spacing: </b></span>{{item.geological.fracture_spacing}}</p>
						<p><span class="name"><b>Fault zone: </b></span>{{item.geological.fault_zone}}</p>
						<p><span class="name"><b>Distance to fault: </b></span>{{item.geological.distance_to_fault}}</p>
						<p><span class="name"><b>Tectonic: </b></span>{{item.location.tectonic.plate_name}}</p>
					</div>
				</div>
			</div>

			<div ng-if="navitem === 'equipitem'">
				<br style="line-height:0px;">
				<div bs-tabs>
					<div data-title="Instruments session view" name="Instruments session view" bs-pane>
						<br></br>
						<table id="metadatasummary">
							<tr>
								<th>Date</th>
								<th>Antenna</th>
								<th>Antenna SN</th>
								<th>Radome</th>
								<!--th>Antenna Height</th-->
								<th>Receiver</th>
								<th>Receiver SN</th>
								<th>Firmware</th>
								<th>Satellite systems</th>
							</tr>
							<tr ng-repeat="(key,itemequip) in station_equipments">
								<td>{{itemequip.datefrom}} - {{currentdate==itemequip.dateto ? '':itemequip.dateto}}
								</td>
								<td>
									<div ng-if="$index === 0">{{itemequip.antenna}}</div>
									<div ng-if="station_equipments[key-1].antenna !== itemequip.antenna && $index !== 0"
										style="background-color:#87E990;">{{itemequip.antenna}}</div>
									<div ng-if="station_equipments[key-1].antenna === itemequip.antenna">
										{{itemequip.antenna}}</div>
								</td>
								<td>
									<div ng-if="$index === 0">{{itemequip.antenna_serial_number}}</div>
									<div ng-if="station_equipments[key-1].antenna_serial_number !== itemequip.antenna_serial_number && $index !== 0"
										style="background-color:#87E990;">{{itemequip.antenna_serial_number}}</div>
									<div
										ng-if="station_equipments[key-1].antenna_serial_number === itemequip.antenna_serial_number">
										{{itemequip.antenna_serial_number}}</div>
								</td>
								<td>
									<div ng-if="$index === 0">{{itemequip.radome}}</div>
									<div ng-if="station_equipments[key-1].radome !== itemequip.radome && $index !== 0"
										style="background-color:#87E990;">{{itemequip.radome}}</div>
									<div ng-if="station_equipments[key-1].radome === itemequip.radome">
										{{itemequip.radome}}</div>
								</td>
								<td>
									<div ng-if="$index === 0">{{itemequip.receiver}}</div>
									<div ng-if="station_equipments[key-1].receiver !== itemequip.receiver && $index !== 0"
										style="background-color:#87E990;">{{itemequip.receiver}}</div>
									<div ng-if="station_equipments[key-1].receiver === itemequip.receiver">
										{{itemequip.receiver}}</div>
								</td>
								<td>
									<div ng-if="$index === 0">{{itemequip.receiver_serial_number}}</div>
									<div ng-if="station_equipments[key-1].receiver_serial_number !== itemequip.receiver_serial_number && $index !== 0"
										style="background-color:#87E990;">{{itemequip.receiver_serial_number}}</div>
									<div
										ng-if="station_equipments[key-1].receiver_serial_number === itemequip.receiver_serial_number">
										{{itemequip.receiver_serial_number}}</div>
								</td>
								<td>
									<div ng-if="$index === 0">{{itemequip.firmware}}</div>
									<div ng-if="station_equipments[key-1].firmware !== itemequip.firmware && $index !== 0"
										style="background-color:#87E990;">{{itemequip.firmware}}</div>
									<div ng-if="station_equipments[key-1].firmware === itemequip.firmware">
										{{itemequip.firmware}}</div>
								</td>
								<td>
									<div ng-if="$index === 0">{{itemequip.satellites_system}}</div>
									<div ng-if="station_equipments[key-1].satellites_system !== itemequip.satellites_system && $index !== 0"
										style="background-color:#87E990;">{{itemequip.satellites_system}}</div>
									<div
										ng-if="station_equipments[key-1].satellites_system === itemequip.satellites_system">
										{{itemequip.satellites_system}}</div>
								</td>
							</tr>
						</table>
					</div>
					<div data-title="Instruments list view" name="Instruments list view" bs-pane>
						<br style="line-height:0px;">
						<div style="display: flex;">
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Antennas</b></span></div>
								<span ng-repeat="item1 in antennalist">
									<p><span class="name"><b>Antenna type: </b></span>{{item1.antenna}}</p>
									<p><span class="name"><b>Serial number: </b></span>{{item1.antenna_serial_number}}
									</p>
									<p><span class="name"><b>Antenna Reference Point:
											</b></span>{{item1.antenna_reference_point}}</p>
									<p><span class="name"><b>Marker ARP up ecc: </b></span>{{item1.marker_arp_up_ecc}}
									</p>
									<p><span class="name"><b>Marker ARP north ecc:
											</b></span>{{item1.marker_arp_north_ecc}}</p>
									<p><span class="name"><b>Marker ARP east ecc:
											</b></span>{{item1.marker_arp_east_ecc}}</p>
									<p><span class="name"><b>Alignment from true n:
											</b></span>{{item1.alignment_from_true_n}}</p>
									<p><span class="name"><b>Antenna cable type: </b></span>{{item1.antenna_cable_type}}
									</p>
									<p><span class="name"><b>Antenna cable length:
											</b></span>{{item1.antenna_cable_length}}</p>
									<p><span class="name"><b>Date from: </b></span>{{item1.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item1.dateto ? '':item1.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item1.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Receivers</b></span></div>
								<span ng-repeat="item2 in receiverlist">
									<p><span class="name"><b>Receiver type: </b></span>{{item2.receiver}}</p>
									<p><span class="name"><b>Serial number: </b></span>{{item2.receiver_serial_number}}
									</p>
									<p><span class="name"><b>Firmware version: </b></span>{{item2.firmware}}</p>
									<p><span class="name"><b>Elevation cutoff setting:
											</b></span>{{item2.receiver_elevation_cutoff_setting}}</p>
									<p><span class="name"><b>Temperature stabilization:
											</b></span>{{item2.receiver_temperature_stabilization}}</p>
									<!--p><span class="name"><b>Input frequency:	</b></span>{{item2.receiver_input_frequency}}</p-->
									<p ng-if="frequencystandardsensorlist.length==0"><span class="name"><b>Input
												frequency: </b></span>{{item2.receiver_input_frequency}}</p>
									<p ng-if="frequencystandardsensorlist.length!=0">
										<span ng-repeat="item in frequencystandardsensorlist"
											ng-if="item.datefrom<=item2.datefrom && item.dateto>=item2.dateto">
											<span class="name"><b>Input frequency:
												</b></span>{{item.sensor_input_frequency}}
										</span>
									</p>

									<p><span class="name"><b>Data sampling interval:
											</b></span>{{item2.receiver_data_sampling_interval}}</p>
									<p><span class="name"><b>Satellite systems: </b></span>{{item2.satellites_system}}
									</p>
									<p><span class="name"><b>Date from: </b></span>{{item2.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item2.dateto ? '':item2.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item2.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Radomes</b></span></div>
								<span ng-repeat="item3 in radomelist">
									<p><span class="name"><b>Radome type: </b></span>{{item3.radome}}</p>
									<p><span class="name"><b>Description: </b></span>{{item3.description}}</p>
									<p><span class="name"><b>Date from: </b></span>{{item3.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item3.dateto ? '':item3.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item3.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
						</div>
					</div>
					<div data-title="Other instruments" name="Other instruments" bs-pane>
						<br style="line-height:0px;">
						<div style="display: flex;">
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Humidity Sensor</b></span></div>
								<p ng-if="humiditysensorlist.length==0">No Humidity Sensor</p>
								<span ng-repeat="item1 in humiditysensorlist">
									<p><span class="name"><b>Model: </b></span>{{item1.sensor_model}}</p>
									<p><span class="name"><b>Serial number: </b></span>{{item1.sensor_serial_number}}
									</p>
									<p><span class="name"><b>Manufacturer: </b></span>{{item1.sensor_manufacturer}}</p>
									<p><span class="name"><b>Data sampling interval:
											</b></span>{{item1.sensor_data_sampling_interval}}</p>
									<p><span class="name"><b>Accuracy: </b></span>{{item1.sensor_accuracy}}</p>
									<p><span class="name"><b>Height diff. to ant:
											</b></span>{{item1.sensor_height_diff_to_ant}}</p>
									<p><span class="name"><b>Calibration date:
											</b></span>{{item1.sensor_calibration_date}}</p>
									<p><span class="name"><b>Aspiration: </b></span>{{item1.sensor_aspiration}}</p>
									<p><span class="name"><b>Date from: </b></span>{{item1.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item1.dateto ? '':item1.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item1.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Pressure Sensor</b></span></div>
								<p ng-if="pressuresensorlist.length==0">No Pressure Sensor</p>
								<span ng-repeat="item1 in pressuresensorlist">
									<p><span class="name"><b>Model: </b></span>{{item1.sensor_model}}</p>
									<p><span class="name"><b>Serial number: </b></span>{{item1.sensor_serial_number}}
									</p>
									<p><span class="name"><b>Manufacturer: </b></span>{{item1.sensor_manufacturer}}</p>
									<p><span class="name"><b>Data sampling interval:
											</b></span>{{item1.sensor_data_sampling_interval}}</p>
									<p><span class="name"><b>Accuracy: </b></span>{{item1.sensor_accuracy}}</p>
									<p><span class="name"><b>Height diff. to ant:
											</b></span>{{item1.sensor_height_diff_to_ant}}</p>
									<p><span class="name"><b>Calibration date:
											</b></span>{{item1.sensor_calibration_date}}</p>
									<p><span class="name"><b>Aspiration: </b></span>{{item1.sensor_aspiration}}</p>
									<p><span class="name"><b>Date from: </b></span>{{item1.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item1.dateto ? '':item1.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item1.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Temperature Sensor</b></span></div>
								<p ng-if="temperaturesensorlist.length==0">No Temperature Sensor</p>
								<span ng-repeat="item1 in temperaturesensorlist">
									<p><span class="name"><b>Model: </b></span>{{item1.sensor_model}}</p>
									<p><span class="name"><b>Serial number: </b></span>{{item1.sensor_serial_number}}
									</p>
									<p><span class="name"><b>Manufacturer: </b></span>{{item1.sensor_manufacturer}}</p>
									<p><span class="name"><b>Data sampling interval:
											</b></span>{{item1.sensor_data_sampling_interval}}</p>
									<p><span class="name"><b>Accuracy: </b></span>{{item1.sensor_accuracy}}</p>
									<p><span class="name"><b>Height diff. to ant:
											</b></span>{{item1.sensor_height_diff_to_ant}}</p>
									<p><span class="name"><b>Calibration date:
											</b></span>{{item1.sensor_calibration_date}}</p>
									<p><span class="name"><b>Aspiration: </b></span>{{item1.sensor_aspiration}}</p>
									<p><span class="name"><b>Date from: </b></span>{{item1.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item1.dateto ? '':item1.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item1.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Water vapor radiometer</b></span></div>
								<p ng-if="watervaporsensorlist.length==0">No Water vapor radiometer</p>
								<span ng-repeat="item1 in watervaporsensorlist">
									<p><span class="name"><b>Water vapor radiometer:
											</b></span>{{item1.sensor_water_vapor_radiometer}}</p>
									<p><span class="name"><b>Serial number: </b></span>{{item1.sensor_serial_number}}
									</p>
									<p><span class="name"><b>Manufacturer: </b></span>{{item1.sensor_manufacturer}}</p>
									<p><span class="name"><b>Height diff. to ant:
											</b></span>{{item1.sensor_height_diff_to_ant}}</p>
									<p><span class="name"><b>Calibration date:
											</b></span>{{item1.sensor_calibration_date}}</p>
									<p><span class="name"><b>Distance to antenna:
											</b></span>{{item1.sensor_distance_to_antenna}}</p>
									<p><span class="name"><b>Date from: </b></span>{{item1.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item1.dateto ? '':item1.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item1.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
							<div class="divborder0">
								<div class="titreprincipale2"><span><b>Frequency standard</b></span></div>
								<p ng-if="frequencystandardsensorlist.length==0">No Frequency standard</p>
								<span ng-repeat="item1 in frequencystandardsensorlist">
									<p><span class="name"><b>Standard type: </b></span>{{item1.sensor_standard_type}}
									</p>
									<p><span class="name"><b>Input frequency:
											</b></span>{{item1.sensor_input_frequency}}</p>
									<p><span class="name"><b>Date from: </b></span>{{item1.datefrom}}</p>
									<p><span class="name"><b>Date to:
											</b></span>{{currentdate==item1.dateto ? '':item1.dateto}}</p>
									<p><span class="name"><b>Comment: </b></span>{{item1.comment}}</p>
									<hr style="border-top: 1px solid blue;" ng-if="!$last">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="navitem === 'colocationitem'">
				<br style="line-height:0px;">
				<div ng-repeat="item in results" style="display: flex;">
					<div class="divborder0">
						<div class="titreprincipale2"><span><b>Collocation instruments</b></span></div>
						<p ng-if="item.collocation_instruments.length==0">No Collocation instruments</p>
						<span ng-repeat="colinstr in item.collocation_instruments">
							<p><span class="name"><b>type: </b></span>{{colinstr.type}}</p>
							<p><span class="name"><b>status: </b></span>{{colinstr.status}}</p>
							<p><span class="name"><b>date from: </b></span>{{colinstr.date_from}}</p>
							<p><span class="name"><b>date to:
									</b></span>{{currentdate==colinstr.date_to ? '':colinstr.date_to}}</p>
							<p><span class="name"><b>Comment: </b></span>{{colinstr.comment}}</p>
							<hr style="border-top: 1px solid blue;" ng-if="!$last">
						</span>
					</div>
					<div class="divborder0">
						<div class="titreprincipale2"><span><b>Local ties</b></span></div>
						<p ng-if="item.local_ties.length==0">No Local ties</p>
						<span ng-repeat="localties in item.local_ties">
							<p><span class="name"><b>Name : </b></span>{{localties.name}}</p>
							<p><span class="name"><b>Usage : </b></span>{{localties.usage}}</p>
							<p><span class="name"><b>Cpd number : </b></span>{{localties.cpd_num}}</p>
							<p><span class="name"><b>Dx : </b></span>{{localties.dx}}</p>
							<p><span class="name"><b>Dy : </b></span>{{localties.dy}}</p>
							<p><span class="name"><b>Dz : </b></span>{{localties.dz}}</p>
							<p><span class="name"><b>Accuracy : </b></span>{{localties.accuracy}}</p>
							<p><span class="name"><b>Survey method : </b></span>{{localties.survey_method}}</p>
							<p><span class="name"><b>Date mesure : </b></span>{{localties.date_at}}</p>
							<p><span class="name"><b>Comment : </b></span>{{localties.comment}}</p>
							<hr style="border-top: 1px solid blue;" ng-if="!$last">
						</span>
					</div>
					<div class="divborder0">
						<div class="titreprincipale2"><span><b>Local ongoing conditions</b></span></div>
						<p ng-if="item.conditions.length==0">No Local ongoing conditions</p>
						<span ng-repeat="cond in item.conditions">
							<p><span class="name"><b>effect type: </b></span>{{cond.effect.type}}</p>
							<p><span class="name"><b>degradation: </b></span>{{cond.degradation}}</p>
							<p><span class="name"><b>date from: </b></span>{{cond.date_from}}</p>
							<p><span class="name"><b>date to: </b></span>{{currentdate==cond.date_to ? '':cond.date_to}}
							</p>
							<p><span class="name"><b>Comments: </b></span>{{cond.comments}}</p>
							<hr style="border-top: 1px solid blue;" ng-if="!$last">
						</span>
					</div>
				</div>
			</div>
			<div ng-if="navitem === 'assofileitem'">
				<br style="line-height:0px;">
				<div ng-repeat="item in results" style="display: flex;">
					<!--div class="divborder0">
						<div class="titreprincipale2"><span><b>Documents</b></span></div>
						<p ng-if="item.documents.length==0">No Documents</p>
						<span ng-repeat="doc in item.documents">
							<span ng-if="doc.document_type.name != 'picture' && doc.document_type.name != 'timeseries'">
								<p><span class="name"><b>Date:	</b></span>{{doc.date}}</p> 		
								<p><span class="name"><b>Link:	</b></span>{{doc.link}}</p>
								<p><span class="name"><b>Description:	</b></span>{{doc.description}}</p>
								<p><span class="name"><b>Title:	</b></span>{{doc.title}}</p>
								<p><span class="name"><b>Document type:	</b></span>{{doc.document_type.name}}</p>
							</span>
						</span>
					</div-->
					<div class="divborder0">
						<div class="titreprincipale2"><span><b>SiteLogs</b></span></div>
						<p ng-if="item.logs.length==0">No SiteLogs</p>
						<span ng-repeat="log in item.logs">
							<p><span class="name"><b>GeodesyML File: </b></span><span style="color:#0000FF;cursor:pointer;" ng-click="downloadgeodesymlfile();">{{log.title}}</span></p>
							<p><span class="name"><b>Log type :	</b></span><span style="color:#0000FF;cursor:pointer;" ng-click="downloadSitelogFile();">{{log.log_type.name}}</span></p>
							<!--<p><span class="name"><b>Date prepared:	</b></span>{{log.date}}</p>
							<p><span class="name"><b>Modified section:	</b></span>{{log.modified}}</p-->
						</span>
					</div>
				</div>
			</div>

			<div ng-repeat="item in results" ng-if="navitem === 'contactitem'">
				<span ng-repeat="statcontact in item.station_contacts">
					<p><span class="titreprincipale3" ng-show="$first"><b>Station: </b></span></p>
					<p><span class="left-space60"><b>role: </b></span>{{statcontact.contact.role}}</p>
					<p><span class="left-space60"><b>name: </b></span>{{statcontact.contact.name}}</p>
					<p><span class="left-space60"><b>title: </b></span>{{statcontact.contact.title}}</p>
					<p><span class="left-space60"><b>email: </b></span><a href="mailto:{{statcontact.contact.email}}"
							class="mail">{{statcontact.contact.email}}</a></p>
					<p><span class="left-space60"><b>phone: </b></span>{{statcontact.contact.phone}}</p>
					<p><span class="left-space60"><b>fax: </b></span>{{statcontact.contact.gsm}}</p>
					<p><span class="left-space60"><b>comment: </b></span>{{statcontact.contact.comment}}</p>
					<p id='clickableIcon' class="left-space60" ng-click="expandfunc('contact')"
						ng-class="{active: isElemShown('contact')}"><b>Contact information: </b>
						<span ng-class="isElemShown('contact') ? 'glyphicon-minus' : 'glyphicon-plus'"
							style="background-color:#77B5FE;border:1px black solid;"></span>
						<div class="content" ng-if="expandcontact==='plus'">
							<p><span class="left-space120"><b>Agency : </b></span></p>
							<p><span class="left-space160"><b>name: </b></span>{{statcontact.contact.agency.name}}</p>
							<p><span class="left-space160"><b>abbreviation:
									</b></span>{{statcontact.contact.agency.abbreviation}}</p>
							<p><span class="left-space160"><b>address: </b></span>{{statcontact.contact.agency.address}}
							</p>
							<p><span class="left-space160"><b>www: </b></span><a
									href="{{statcontact.contact.agency.www}}" target="_blank"
									class="www">{{statcontact.contact.agency.www}}</a></p>
							<p><span class="left-space160"><b>infos: </b></span>{{statcontact.contact.agency.infos}}</p>
						</div>
				</span>
				<span ng-repeat="statnet in item.station_networks" ng-if="statnet.network.contact.name != ''">
					<p><span class="titreprincipale3" ng-show="$first"><b>Networks: </b></span></p>
					<p><span class="left-space60"><b>role: </b></span>{{statnet.network.contact.role}}</p>
					<p><span class="left-space60"><b>name: </b></span>{{statnet.network.contact.name}}</p>
					<p><span class="left-space60"><b>title: </b></span>{{statnet.network.contact.title}}</p>
					<p><span class="left-space60"><b>email: </b></span><a
							href="mailto:{{statnet.network.contact.email}}"
							class="mail">{{statnet.network.contact.email}}</a></p>
					<p><span class="left-space60"><b>phone: </b></span>{{statnet.network.contact.phone}}</p>
					<p><span class="left-space60"><b>fax: </b></span>{{statnet.network.contact.gsm}}</p>
					<p><span class="left-space60"><b>comment: </b></span>{{statnet.network.contact.comment}}</p>
					<p id='clickableIcon' class="left-space60" ng-click="expandfunc('net')"
						ng-class="{active: isElemShown('net')}"><b>Contact information: </b>
						<span ng-class="isElemShown('net') ? 'glyphicon-minus' : 'glyphicon-plus'"
							style="background-color:#77B5FE;border:1px black solid;"></span>
						<div class="content" ng-if="expandnet==='plus'">
							<p><span class="left-space120"><b>Agency : </b></span></p>
							<p><span class="left-space160"><b>name: </b></span>{{statnet.network.contact.agency.name}}
							</p>
							<p><span class="left-space160"><b>abbreviation:
									</b></span>{{statnet.network.contact.agency.abbreviation}}</p>
							<p><span class="left-space160"><b>address:
									</b></span>{{statnet.network.contact.agency.address}}
							</p>
							<p><span class="left-space160"><b>www: </b></span><a
									href="{{statnet.network.contact.agency.www}}" target="_blank"
									class="www">{{statnet.network.contact.agency.www}}</a></p>
							<p><span class="left-space160"><b>infos: </b></span>{{statnet.network.contact.agency.infos}}
							</p>
						</div>
				</span>
				<span ng-repeat="doc in item.documents"
					ng-if="doc.document_type.name != 'picture' && doc.document_type.name != 'timeseries'">
					<p><span class="titreprincipale3" ng-show="$first"><b>Documents: </b></span></p>
					<p><span class="left-space60"><b>Contact as producer : </b></span></p>
					<p><span class="left-space120"><b>role: </b></span>{{doc.item.contact_as_producer.role}}</p>
					<p><span class="left-space120"><b>name: </b></span>{{doc.item.contact_as_producer.name}}</p>
					<p><span class="left-space120"><b>title: </b></span>{{doc.item.contact_as_producer.title}}</p>
					<p><span class="left-space120"><b>email: </b></span><a
							href="mailto:{{doc.item.contact_as_producer.email}}"
							class="mail">{{doc.item.contact_as_producer.email}}</a></p>
					<p><span class="left-space120"><b>phone: </b></span>{{doc.item.contact_as_producer.phone}}</p>
					<p><span class="left-space120"><b>fax: </b></span>{{doc.item.contact_as_producer.gsm}}</p>
					<p><span class="left-space120"><b>comment: </b></span>{{doc.item.contact_as_producer.comment}}</p>

					<p><span class="left-space60"><b>Contact as owner : </b></span></p>
					<p><span class="left-space120"><b>role: </b></span>{{doc.item.contact_as_owner.role}}</p>
					<p><span class="left-space120"><b>name: </b></span>{{doc.item.contact_as_owner.name}}</p>
					<p><span class="left-space120"><b>title: </b></span>{{doc.item.contact_as_owner.title}}</p>
					<p><span class="left-space120"><b>email: </b></span><a
							href="mailto:{{doc.item.contact_as_owner.email}}"
							class="mail">{{doc.item.contact_as_owner.email}}</a></p>
					<p><span class="left-space120"><b>phone: </b></span>{{doc.item.contact_as_owner.phone}}</p>
					<p><span class="left-space120"><b>fax: </b></span>{{doc.item.contact_as_owner.gsm}}</p>
					<p><span class="left-space120"><b>comment: </b></span>{{doc.item.contact_as_owner.comment}}</p>
					<p id='clickableIcon' class="left-space60" ng-click="expandfunc('doc')"
						ng-class="{active: isElemShown('doc')}"><b>Contact information: </b>
						<span ng-class="isElemShown('doc') ? 'glyphicon-minus' : 'glyphicon-plus'"
							style="background-color:#77B5FE;border:1px black solid;"></span>
						<div class="content" ng-if="expanddoc==='plus'">
							<p><span class="left-space60"><b>Contact as producer : </b></span></p>
							<p><span class="left-space120"><b>Agency : </b></span></p>
							<p><span class="left-space160"><b>name:
									</b></span>{{doc.item.contact_as_producer.agency.name}}
							</p>
							<p><span class="left-space160"><b>abbreviation:
									</b></span>{{doc.item.contact_as_producer.agency.abbreviation}}</p>
							<p><span class="left-space160"><b>address:
									</b></span>{{doc.item.contact_as_producer.agency.address}}</p>
							<p><span class="left-space160"><b>www: </b></span><a
									href="{{doc.item.contact_as_producer.agency.www}}" target="_blank"
									class="www">{{doc.item.contact_as_producer.agency.www}}</a></p>
							<p><span class="left-space160"><b>infos:
									</b></span>{{doc.item.contact_as_producer.agency.infos}}</p>

							<p><span class="left-space60"><b>Contact as owner : </b></span></p>
							<p><span class="left-space120"><b>Agency : </b></span></p>
							<p><span class="left-space160"><b>name: </b></span>{{doc.item.contact_as_owner.agency.name}}
							</p>
							<p><span class="left-space160"><b>abbreviation:
									</b></span>{{doc.item.contact_as_owner.agency.abbreviation}}</p>
							<p><span class="left-space160"><b>address:
									</b></span>{{doc.item.contact_as_owner.agency.address}}</p>
							<p><span class="left-space160"><b>www: </b></span><a
									href="{{doc.item.contact_as_owner.agency.www}}" target="_blank"
									class="www">{{doc.item.contact_as_owner.agency.www}}</a></p>
							<p><span class="left-space160"><b>infos:
									</b></span>{{doc.item.contact_as_owner.agency.infos}}
							</p>
						</div>
				</span>
				<span ng-repeat="log in item.logs">
					<p><span class="titreprincipale3" ng-show="$first"><b>Logs: </b></span></p>
					<p><span class="left-space60"><b>name: </b></span>{{log.contact.name}}</p>
					<p><span class="left-space60"><b>title: </b></span>{{log.contact.title}}</p>
					<p><span class="left-space60"><b>email: </b></span><a href="mailto:{{log.contact.email}}"
							class="mail">{{log.contact.email}}</a></p>
					<p><span class="left-space60"><b>phone: </b></span>{{log.contact.phone}}</p>
					<p><span class="left-space60"><b>fax: </b></span>{{log.contact.gsm}}</p>
					<p><span class="left-space60"><b>comment: </b></span>{{log.contact.comment}}</p>
					<p id='clickableIcon' class="left-space60" ng-click="expandfunc('log')"
						ng-class="{active: isElemShown('log')}"><b>Contact information: </b>
						<span ng-class="isElemShown('log') ? 'glyphicon-minus' : 'glyphicon-plus'"
							style="background-color:#77B5FE;border:1px black solid;"></span>
						<div class="content" ng-if="expandlog==='plus'">
							<p><span class="left-space120"><b>Agency : </b></span></p>
							<p><span class="left-space160"><b>address: </b></span>{{log.contact.agency.address}}</p>
							<p><span class="left-space160"><b>www: </b></span><a href="{{log.contact.agency.www}}"
									target="_blank" class="www">{{log.contact.agency.www}}</a></p>
							<p><span class="left-space160"><b>name: </b></span>{{log.contact.agency.name}}</p>
							<p><span class="left-space160"><b>abbreviation:
									</b></span>{{log.contact.agency.abbreviation}}
							</p>
							<p><span class="left-space160"><b>infos: </b></span>{{log.contact.agency.infos}}</p>
						</div>
				</span>

			</div>

			<div ng-if="navitem === 'temporal'" ng-init="initdataavailable(results);">
				<div style="text-align: center;">
					<h4>Data available between dates</h4>
				</div>
				<div ng-show="results[0].rinex_files_dates.length>0" id="datepickerrange" style="text-align:center;">
					<input type="text" class="datepicker" id="datepickerinstall" size="10"
						ng-model="filefromdateselected"
						ng-change="changedReferenceFromDate(filefromdateselected,results[0].date_from)"
						title="e.g yyyy-mm-dd" data-date-format="yyyy-MM-dd" bs-datepicker><span
						class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <input type="text"
						class="datepicker" id="datepickerremove" size="10" ng-model="filetodateselected"
						ng-change="changedReferenceToDate(filetodateselected)" data-date-format="yyyy-MM-dd"
						title="e.g yyyy-mm-dd" bs-datepicker><span class="glyphicon glyphicon-calendar"
						aria-hidden="true"></span>
				</div>
				<div id="temporalplaceholder"></div>
				<div id="heatmapplaceholder" style="height: 100%;width:100%;"></div><br></br>
				<div ng-show="detailflag === true">
					<div style="display:flex;justify-content:center;">
						<div id="cal-heatmap"></div>
						<div><button type="button" class="btn btn-info" aria-label="view"
								ng-click="opennodownloadmonth()" style="margin-left: 10px;">Download selected
								dates</button></div>
					</div>
					<br></br>
				</div>
			</div>

			<div ng-if="navitem === 'qualitycheck'" ng-init="initQualityCheck(results);">
				<br style="line-height:0px;">
				<div id="datepickerrange" style="text-align:center;">
					<input type="text" class="datepicker" id="datepickerinstall" size="10"
						ng-model="fileT3fromdateselected" ng-change="changedT3ReferenceFromDate(fileT3fromdateselected)"
						title="e.g yyyy-mm-dd" data-date-format="yyyy-MM-dd" bs-datepicker><span
						class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <input type="text"
						class="datepicker" id="datepickerremove" size="10" ng-model="fileT3todateselected"
						ng-change="changedT3ReferenceToDate(fileT3todateselected)" data-date-format="yyyy-MM-dd"
						title="e.g yyyy-mm-dd" bs-datepicker><span class="glyphicon glyphicon-calendar"
						aria-hidden="true"></span>
					<button type="button" class="btn btn-info" aria-label="view" ng-click="requestQualityCheck()"
						id="runqcsearch">Submit</button>
				</div>
				<div id="qcplaceholder"></div>
			</div>

			<div ng-if="navitem === 'doi'">
				<div ng-if="stationInfo.length!=0">
				  <br style="line-height:0px;">
				  <div>
					<p><span class="name"><b>DOI : </b></span>
						<a ng-if="stationInfo[0].properties.doi != 'None'" href={{stationInfo[0].properties.doi}} target="_blank">{{stationInfo[0].properties.doi}}</a>
						<span ng-if="stationInfo[0].properties.doi == 'None'">{{stationInfo[0].properties.doi}}</span>
					</p>
					<p><span class="name"><b>License : </b></span><a href="{{stationInfo[0].properties.license_link}}" target="_blank">{{stationInfo[0].properties.license}}</a></p>
				  </div>
				</div>
				<div ng-if="stationInfo.length==0">
					<br style="line-height:0px;">
					<div>
						<p><span class="name"><b>DOI : </b></span>N/A</p>
						<p><span class="name"><b>License : </b></span>N/A</p>
					</div>
				</div>
				
				
			</div>
		</div><br style="line-height:2px;">
	</div>
	<tour step="currentStep">
		<virtual-step tourtip="Step 1 : Navigation on the different menu" tourtip-step="0" tourtip-next-label="Next"
			tourtip-placement="right" tourtip-offset-vertical="-30" tourtip-container-element="body"
			tourtip-element="#navmenu">
		</virtual-step>
		<virtual-step tourtip="Step 2 : Add the query on your history" tourtip-step="1" tourtip-next-label="Next"
			tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30" tourtip-offset-horizontal="0"
			tourtip-container-element="body" tourtip-element="#addhistory">
		</virtual-step>
		<virtual-step tourtip="Step 3 : Download the stations metadata in different format" tourtip-step="2"
			tourtip-next-label="Next" tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30"
			tourtip-offset-horizontal="0" tourtip-container-element="body" tourtip-element="#download">
		</virtual-step>
		<virtual-step tourtip="Step 4 : Export the query for the command line tool and API request format"
			tourtip-step="3" tourtip-next-label="Next" tourtip-placement="left" tourtip-margin="0"
			tourtip-offset-vertical="-30" tourtip-offset-horizontal="0" tourtip-container-element="body"
			tourtip-element="#exportquery">
		</virtual-step>
		<a id="myselector" ng-click="openTour()" style="display:none;">Open Tour</a>
	</tour>

</div>

<!-- MULTIPLE STATIONS-->


<div ng-if="metadataviewchoice==='severalstation'">
	<div id="dropdownconteneur2">
		<div>
			<button type="button" class="btn btn-primary" ng-click="addhistory()"
				title="This button allows to keep in cache history of yours requests"><span
					class="glyphicon glyphicon-plus" aria-hidden="true" id="addhistory"></span> Add in history </button>
		</div>&nbsp;

		<div class="dropdown">
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" id="download"
				title="This button allows to download the content of data in different format">
				<span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download <span
					class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a ng-click="downloadselectedfilegeodesyml()">GeodesyML</a></li>
				<li><a ng-click="download('metadata.json','Json')">Json</a></li>
				<li><a ng-click="downloadselectedfilesitelog()">IGS Sitelog</a></li>
				<!--li><a href="#">Json + files</a></li>
			 <li role="separator" class="divider"></li>
			 <li><a href="#">File list</a></li>
			 <li><a href="#">SINEX sites.info</a></li>
			 <li><a href="#">GAMIT station.info</a></li-->
				<!--li><a ng-click="download('metadata.csv','CSV')">Site Info CSV</a></li-->
				<!--li><a href="#">KML file</a></li-->
			</ul>
		</div>&nbsp;

		<div class="dropdown">
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" id="exportquery" title="This button allows to get the query for command line">
				<span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export query <span
					class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<!--li><a ng-click="exportquery('GeodesyML')">GeodesyML</a></li>
			 <li><a ng-click="exportquery('GeodesyML + files')">GeodesyML + files</a></li-->
				<li><a ng-click="exportquery('Json')">Json</a></li>
				<!--li><a ng-click="exportquery('Json + files')">Json + files</a></li>
			 <li role="separator" class="divider"></li>
			 <li><a ng-click="exportquery('File list')">File list</a></li>
		         <li><a ng-click="exportquery('SINEX')">SINEX sites.info</a></li>
		         <li><a ng-click="exportquery('GAMIT')">GAMIT station.info</a></li-->
				<!--li><a ng-click="exportquery('CSV')">Site Info CSV</a></li-->
				<!--li><a ng-click="exportquery('KML')">KML file</a></li-->
			</ul>
		</div>
	</div><br style="line-height:0px;">

	<div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter
		class="grid" style="height:180px;border:1px black solid;width:100%;"></div><br></br>

	<div id="metamap_timeseries_container">
		<!--div id="pictures">
			<a href="{{station_pictures}}" data-lightbox="picture" style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);">
				<img ng-src ="{{station_pictures}}" onerror="javascript:this.src='images/no_timeseries.png'" style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);"/>
			</a>
		</div-->
		<div id="metamapid2"></div>
		<div id="timeseries">
			<div bs-tabs>
				<div data-title="UGA" name="Timeseries_UGA" style="overflow: hidden;height: 255px;width: 100%;" bs-pane>
					<a href="{{station_timeseries_uga}}" data-lightbox="timeseries"
						style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);">
						<img ng-src="{{station_timeseries_uga}}"
							onerror="javascript:this.src='images/no_timeseries.png'" data-lightbox="timeseries"
							style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);" />
					</a>
				</div>
				<div data-title="INGV" name="Timeseries_INGV" style="overflow: hidden;height: 255px;width: 100%;"
					bs-pane>
					<a href="{{station_timeseries_ingv}}" data-lightbox="timeseries"
						style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);">
						<img ng-src="{{station_timeseries_ingv}}"
							onerror="javascript:this.src='images/no_timeseries.png'" data-lightbox="timeseries"
							style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);" />
					</a>
				</div>
				<div data-title="LTK" name="Timeseries_LTK" style="overflow: hidden;height: 255px;width: 100%;" bs-pane>
					<a href="{{station_timeseries_ltk}}" data-lightbox="timeseries"
						style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);">
						<img ng-src="{{station_timeseries_ltk}}"
							onerror="javascript:this.src='images/no_timeseries.png'" data-lightbox="timeseries"
							style="width: 100%;height: 100%;display: block;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%);" />
					</a>
				</div>
			</div>
		</div>
	</div><br></br>
	<div id="temporalcontainer"></div><br></br>
	<tour step="currentStep">
		<virtual-step tourtip="Step 1 : Add the query on your history" tourtip-step="0" tourtip-next-label="Next"
			tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30" tourtip-offset-horizontal="0"
			tourtip-container-element="body" tourtip-element="#addhistory">
		</virtual-step>
		<virtual-step tourtip="Step 2 : Download the stations metadata in different format" tourtip-step="1"
			tourtip-next-label="Next" tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30"
			tourtip-offset-horizontal="0" tourtip-container-element="body" tourtip-element="#download">
		</virtual-step>
		<virtual-step tourtip="Step 3 : Export the query for the command line tool and API request format"
			tourtip-step="2" tourtip-next-label="Next" tourtip-placement="left" tourtip-margin="0"
			tourtip-offset-vertical="-30" tourtip-offset-horizontal="0" tourtip-container-element="body"
			tourtip-element="#exportquery">
		</virtual-step>
		<virtual-step
			tourtip="Step 4 : Select the stations in the grid to see the position on the map and the period of availability files in the chart"
			tourtip-step="3" tourtip-next-label="Next" tourtip-placement="top" tourtip-container-element="body"
			tourtip-element=".grid">
		</virtual-step>
		<virtual-step
			tourtip="Step 5 : Select the station in the map to see the station in the grid and the period of availability files in the chart"
			tourtip-step="4" tourtip-next-label="Next" tourtip-placement="top" tourtip-container-element="body"
			tourtip-element="#metamapid2">
		</virtual-step>
		<virtual-step
			tourtip="Step 6 : Select the station in the chart to see the station in the grid and the position on the map"
			tourtip-step="5" tourtip-next-label="Next" tourtip-placement="top" tourtip-container-element="body"
			tourtip-element="#temporalcontainer">
		</virtual-step>
		<a id="myselector" ng-click="openTour()" style="display:none;">Open Tour</a>
	</tour>
</div>