<div class="modal-header">
    <h3 style="float: left;">Download Command Line Client</h3>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="embed-responsive" style="overflow: hidden;height: 25em;">
        <p>The python command line client allows to mass download RINEX files and station metadata (in JSON and GeodesyML formats). </p>
        <p>For example, to download RINEX files from the station AGDE00FRA, between the dates 2020-01-01 and 2020-01-10 : </p>
        <figure>
                <code>
    ./pyglass.py files -m AGDE -dds 2020-01-01 -dde 2020-01-10 -o download --download-dir ./RINEX
                </code>
        </figure>
        <br/>
        <p>Please note 3 important points:</p>
        <ol>
          <li>- The command line client needs python 2.7 to run</li>
          <li>- The system doesn't allow to use 9-characters ids for the queries yet, so if there is more than one station with the same 4-characters id, it is necessary to provide another criteria such as the country</li>
          <li>- The clients (both command line and web) can only download RINEX files which have been indexed in the database</li>
        </ol>
        <a href="https://gitlab.com/gpseurope/pyglass/-/tags" target="_blank">Download pyglass here </a>
        <br/><br/>
        <p> Do not hesitate to send any question or comment  at: gnss-dgw_at_oca.eu</p>
	</div>
</div>