<!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div> -->
<div class="modal-body modal-body--teamReduced">
    <div class="embed-responsive--teamReduced" style="overflow: hidden;">
        <p>The DGW team is in holidays from August 04 to August 16.
            Please be patient in case of problem, and send comments to 
            <a id="mail" ng-click="getMail()" href="mailto:gnss-dgw@oca.eu"> gnss-dgw@oca.eu</a>
        </p>
        <p>
            The DGW team is in reduced activity from August 04 to August 31.
        </p>
        <p>
            Thanks!
        </p>
        <div style="text-align: center; margin-bottom: 1em;">
            <input id="checkbox--teamReduced" type="checkbox" ng-click="cookieTeamReduced($event)" style="margin-right: 5px;"> Don't show again</input>
        </div>
        <div style="text-align: center;">
            <button type='button' style="min-width: 10em; border-radius: 1em; background-color: black; color: white; padding: 0.8em;" ng-click="close()">Close</button>
        </div>
        


    </div>
</div>