<h1 id="title1">EPOS GNSS Node Infrastructure</h1>
<div class="flex">
    <div id="nodemap" ng-click="clickMap()"></div>
    <table id="nodelist">
        <tr>
            <td>Node Name</td>
            <td>Location</td>
        </tr>
        <tr>
            <td><a class="node">EPOS GNSS Data Gateway (DGW)</a></td>
            <td>France</td>
        </tr>
        <tr>
            <td><a class="node">Belgian EPOS-GNSS node (Belgian-node)</a></td>
            <td>Belgium</td>
        </tr>
        <tr>
            <td><a class="node">EPOS-GNSS Pan-European Node</a></td>
            <td>Portugal</td>
        </tr>
        <tr>
            <td><a class="node">French National Node (French-Node)</a></td>
            <td>France</td>
        </tr>
        <tr>
            <td><a class="node">GNSS Permanent IPGP Network (IPGP-GNSS)</a></td>
            <td>France</td>
        </tr>
        <tr>
            <td><a class="node">INGV RING NODE (IRN)</a></td>
            <td>Italia</td>
        </tr>
        <tr>
            <td><a class="node">National Observatory of Athens (NOA)</a></td>
            <td>Greece</td>
        </tr>
        <tr>
            <td><a class="node">Portuguese EPOS National Node</a></td>
            <td>Portugal</td>
        </tr>
        <tr>
            <td><a class="node">ROB-EUREF</a></td>
            <td>Belgium</td>
        </tr>
        <tr>
            <td><a class="node">Romanian National Node (NIEP GNSS)</a></td>
            <td>Romania</td>
        </tr>
        <!-- <tr>
            <td><a class="node">CzechGeo</a></td>
            <td>Czechia</td>
        </tr> -->
        <tr>
            <td><a class="node">Spanish EPOS Data node</a></td>
            <td>España</td>
        </tr>
    </table>
</div>

<h2 id="BecomeNode">How to become a node</h2>
<div id="node_doc"></div>
<h3>Contact</h3>
<p>If you wish to install a node <a href="mailto:gnss-dgw@oca.eu">us</a></p>
<br style="line-height:0px;">